.chat {
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}

.wrap {
  width: 88%;
  margin: 0 auto;
  display: flex;
  height: 40px;
}

.avatar {
  position: relative;
  min-width: 40px;
  max-width: 40px;
  height: 100%;
  margin-right: 10px;
}

.avatar span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
  height: inherit;
  
}

.meta {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    overflow: hidden;
  }

  .meta p {
    margin: 0;
  }

.meta .name {
    font-weight: 600;
  }
.meta .preview {
  padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
.meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
  }
